nav {
    margin-bottom: 20px;
}

.text-right {
    float: right;
}

.card {
    margin-bottom: 20px;
}

.active a {
    color: #fff;
}

@media (max-width: 767px) {

    /* ... */

    .top-content .carousel-control-prev,
    .top-content .carousel-control-next { display: none; }
    .top-content .carousel-indicators li { margin-left: 10px; margin-right: 10px; }

    /* ... */

}

.comment .text {
    background: #4e555b;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
}